@import "tailwindcss";

:root {
  --color-background-primary: #ffffff;
  --color-background-secondary: #f7f7f6;
  --color-background-tertiary: #f0efed;
  --color-background-info: #e6f1fb;

  --color-border-tertiary: #e8e7e4;
  --color-border-secondary: #d4d3cf;

  --color-text-primary: #1a1917;
  --color-text-secondary: #6b6a66;
  --color-text-tertiary: #9e9c97;
  --color-text-info: #185fa5;

  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  --color-brand: #1d9e75;
  --color-brand-dark: #0f6e56;
  --color-brand-light: #e1f5ee;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: #1d9e75;
  --color-brand-dark: #0f6e56;
  --color-brand-light: #e1f5ee;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background-tertiary);
  color: var(--color-text-primary);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
