DATABASE_URL=postgresql://user:password@localhost:5432/cargaback
NODE_ENV=production
PORT=3001
JWT_SECRET=cambia_esto_por_un_secreto_seguro
MP_ACCESS_TOKEN=tu_access_token_de_mercadopago
INTERNAL_SECRET=secreto_compartido_con_nextjs
FRONTEND_URL=https://tu-proyecto.vercel.app

# Mail (Mailtrap para dev / SMTP real para prod)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=tu_mailtrap_user
MAIL_PASS=tu_mailtrap_pass
MAIL_FROM=noreply@cargaback.com
